.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  justify-content: center;
  align-items: space-between;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: wrap;
  // justify-content: flex-start;
  // align-content: flex-start;
  // align-items: flex-start;
  // background: #212121;
  // font-family: sans-serif;
}

.footer {
  display: flex;
  flex-shrink: 0;
  border-top: solid blue 4px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
}
